StepWars/StepWars.GameEngine/Connected Services/GameService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Contracts" />
  <xs:element name="AddNewPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" minOccurs="0" name="player" nillable="true" type="q1:PlayerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" minOccurs="0" name="player" nillable="true" type="q2:PlayerDTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Contracts" minOccurs="0" name="direction" type="q3:MoveDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" minOccurs="0" name="player" nillable="true" type="q4:PlayerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" minOccurs="0" name="player" nillable="true" type="q5:PlayerDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>