StepWars/StepWars.BattleArena/Connected Services/GameService/StepWars.BusinessLogic.Clasess.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminRules" type="xs:boolean" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
      <xs:element minOccurs="0" name="Ship" nillable="true" type="tns:StarShipDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDTO" nillable="true" type="tns:PlayerDTO" />
  <xs:complexType name="StarShipDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bonus" nillable="true" type="tns:BonusDTO" />
      <xs:element minOccurs="0" name="Damage" type="xs:int" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StarShipDTO" nillable="true" type="tns:StarShipDTO" />
  <xs:complexType name="BonusDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BonusDTO" nillable="true" type="tns:BonusDTO" />
</xs:schema>