StepWars/StepWars.UserInterface/Connected Services/RegistrationService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationContract_GetAllShips_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShips" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_GetAllShips_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShipsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_CheckToUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToUserExist" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_CheckToUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckToUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_CheckToAdminRules_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToAdminRules" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_CheckToAdminRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckToAdminRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_CheckToAdminPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToAdminPassword" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_CheckToAdminPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckToAdminPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_RegisterNewPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewPlayer" />
  </wsdl:message>
  <wsdl:message name="IRegistrationContract_RegisterNewPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterNewPlayerResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationContract">
    <wsdl:operation name="GetAllShips">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationContract/GetAllShips" message="tns:IRegistrationContract_GetAllShips_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationContract/GetAllShipsResponse" message="tns:IRegistrationContract_GetAllShips_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationContract/CheckToUserExist" message="tns:IRegistrationContract_CheckToUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationContract/CheckToUserExistResponse" message="tns:IRegistrationContract_CheckToUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToAdminRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationContract/CheckToAdminRules" message="tns:IRegistrationContract_CheckToAdminRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationContract/CheckToAdminRulesResponse" message="tns:IRegistrationContract_CheckToAdminRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToAdminPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationContract/CheckToAdminPassword" message="tns:IRegistrationContract_CheckToAdminPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationContract/CheckToAdminPasswordResponse" message="tns:IRegistrationContract_CheckToAdminPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationContract/RegisterNewPlayer" message="tns:IRegistrationContract_RegisterNewPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationContract/RegisterNewPlayerResponse" message="tns:IRegistrationContract_RegisterNewPlayer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationEp" type="tns:IRegistrationContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllShips">
      <soap:operation soapAction="http://tempuri.org/IRegistrationContract/GetAllShips" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToUserExist">
      <soap:operation soapAction="http://tempuri.org/IRegistrationContract/CheckToUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToAdminRules">
      <soap:operation soapAction="http://tempuri.org/IRegistrationContract/CheckToAdminRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToAdminPassword">
      <soap:operation soapAction="http://tempuri.org/IRegistrationContract/CheckToAdminPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewPlayer">
      <soap:operation soapAction="http://tempuri.org/IRegistrationContract/RegisterNewPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="RegistrationEp" binding="tns:RegistrationEp">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StepWars/Registration" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>