StepWars/StepWars.UserInterface/Connected Services/RegistrationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" />
  <xs:element name="GetAllShips">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StepWars.BusinessLogic.Clasess.DTO" minOccurs="0" name="GetAllShipsResult" nillable="true" type="q1:ArrayOfStarShipDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>